
.container {
    background-color: white;
    border: 10px solid #222;
  }

  .item {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8f2ac7;
    border: medium solid #a78eff;
    text-align: center;
  }
